/* Reset CSS pour assurer une base cohérente entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex; /* Utiliser flexbox pour disposer les éléments */
    flex-direction: row; /* Aligner les éléments horizontalement */
    min-height: 100vh; /* Assurer que le body prend toute la hauteur de la fenêtre */
}

header {
    width: 20%; /* Ou la largeur que vous préférez pour l'en-tête */
    background: #0a0a0a;
    color: #ffffff;
    padding: 20px;
    height: 100vh; /* Hauteur complète de la fenêtre */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement dans l'en-tête */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */
    position: fixed; /* Fixer l'en-tête pour qu'il ne défile pas avec le contenu */
    left: 0; /* Aligner l'en-tête à gauche */
    top: 0; /* Aligner l'en-tête en haut */
}

.content {
    margin-left: 20%; /* Espace pour l'en-tête fixe */
    width: 80%; /* Espace restant pour le contenu */
    overflow-y: auto; /* Permettre le défilement vertical si nécessaire */
    padding: 20px;
}

/* Styles pour les autres éléments... */

footer {
    position: fixed; /* Fixer le footer */
    bottom: 0; /* Aligner le footer en bas */
    left: 0; /* Aligner le footer à gauche */
    width: 100%; /* Largeur complète */
    background: #0a0a0a;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Médias queries pour ajuster la mise en page sur des écrans plus petits */
@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        position: static;
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
    footer {
        position: static;
    }
}
